.top-bar, 
.top-bar ul {
  background: #000;
}

.top-bar {
  padding: 0;
}

.center--img {
  display: block;
  margin: 0 auto;
}

.logo {
  max-width: 150px;
  margin: 18px auto;
}

img {
  height: auto;
  width: 100%;
}

.orbit-border {
  /*border-top: #43986d 10px solid;*/
  border-bottom: #000 10px solid;
}